.board {
  $board-height: 10px;
  position: relative;
  width: 100%;
  height: $board-height;
  background: RGB(54,172,179);
  transition: transform 5s linear;

  .weight {
    width: 60px;
    height: 80px;
    background: transparent;
    position: absolute;
    right: 20px;
    bottom: $board-height;
    border: 2px solid green;

    &::after {
      content: attr(data-weight);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.left-side,
.right-side {
  display: flex;
  figure {
    position: absolute;
    transform: translateY(-500px);
    bottom: 16px;
    transition: transform 4s linear;
    opacity: 0;
    box-shadow: 0 0 black black;

    &.active {
      opacity: 1;
    }

    &::after {
      content: attr(data-weight);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }

    &[data-type=triangle] {
      width: 0 !important;
      height: 0 !important;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;

      border-bottom: 30px solid RGB(85,228,74);

      &::after {
        top: auto;
        transform: translateX(-50%);
        color: #000;
      }
    }

    &[data-type=circle] {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: RGB(250,172,179);
    }

    &[data-type=rectangle] {
      width: 30px;
      height: 30px;
      background: RGB(85,120,241);
    }
  }
}